<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Create Subject</title>
</head>
<body>

<h3>Create Subject</h3>

<form action="/professor/save-subject" method="post">

  <input type="hidden" name="professor.username" th:value="${professor.username}" />

  <label>Title:</label>
  <input type="text" name="title" th:value="${subject.title}" required /><br/><br/>

  <label>Objectives:</label>
  <input type="text" name="objectives" th:value="${subject.objectives}" required /><br/><br/>

  <label>Availability:</label>
  <input type="checkbox" name="availability" th:checked="${subject.sub_availability}" /><br/><br/>

  <button type="submit">Create</button>
</form></body>
</html>
