<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>My Thesis</title>
</head>

<body>

<div class="container">

  <h3>My Thesis</h3>
  <hr>


  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Thesis Title</th>
      <th>Assigned Student</th>
      <th>Thesis Grade</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempThesis : *{thesis}">

      <td th:text="${tempThesis.subject.title}" />
      <td th:text="${tempThesis.student.username}" />
      <td th:text="${tempThesis.grade}" />

      <td>
        <!-- Add "update" button/link -->
        <a th:href="@{/professor/grade-form(thesisID=${tempThesis.th_id})}"
            class="btn btn-info btn-sm">
            Set Grade
        </a>

      </td>


    </tr>
    </tbody>
  </table>

</div>

</body>
</html>
