<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Subject List</title>
</head>

<body>

<div class="container">

  <h3>Subject List </h3>
  <hr>


  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Title </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempSubject : ${Subject}">

      <td th:text="${tempSubject.title}" />

      <td>
        <!-- Add "update" button/link -->
        <a th:href="@{/student/applyToSubect(subjectid=${tempSubject.sub_id})}"
           class="btn btn-info btn-sm">
          onclick="if (!(confirm('Are you sure you want to apply to this subject?'))) return false">
          Apply
        </a>

        <!-- Add "delete" button/link -->
        <a th:href="@{/student/subjectDetails(subjectid=${tempSubject.sub_id})}"
           class="btn btn-danger btn-sm">
          View Details
        </a>

      </td>


    </tr>
    </tbody>
  </table>

</div>

</body>
</html>
